@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --main-color-blue: #288FEB;
    --main-color-orange: #F45E58;
    --heading-color: #3C4859;
    --paragraph-color: #6B7582;
    --gray: #6B7591;
    --light-gray: #F5F5F5;
    --black: #333333;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.del {
    text-decoration: line-through;
}

.bold {
    font-weight: bolder;
}

.button {
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bolder;
    font-family: 'Nunito', sans-serif;
    transition: 0.5s all;
    cursor: pointer;
}

.button:hover {
    color: var(--white);
    background-color: var(--main-color-orange);
}

.white-black {
    color: var(--black);
    background-color: var(--white);
}

.blue-white {
    color: var(--white);
    background-color: var(--main-color-blue);
}

body {
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 88%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    gap: 1rem;
}

header .container .logo {
    font-size: 2.2rem;
    font-weight: bolder;
}

header .container .logo a {
    text-decoration: none;
}

header .container .logo a .logo-part-one {
    color: var(--main-color-orange);
}

header .container .logo a .logo-part-two {
    color: var(--main-color-blue);
}

header .container nav {
    width: 35%;
}

header .container nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header .container nav ul a {
    text-decoration: none;
    color: var(--black);
    font-weight: bolder;
    transition: 0.5s all;
}

header .container nav ul a:hover {
    color: var(--main-color-orange);
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color-blue);
    color: var(--white);
    padding: 3rem 0rem;
}

.welcome .container .welcome-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.welcome .container .welcome-content h2 {
    font-size: 3rem;
}

.welcome .container .welcome-content p {
    font-size: 1.5rem;
}

.welcome .container .welcome-content ul {
    list-style-position: inside;
    padding: 1rem;
}

.welcome .container .welcome-content button {
    width: fit-content;
}

.offers {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0rem;
}

.offers .container .offer-card {
    width: 25%;
    background-color: var(--main-color-blue);
    padding: 2rem;
    border: 2px solid var(--white);
    border-radius: 10px;
    transition: 0.5s all;
    cursor: pointer;
}

.offers .container .offer-card:hover {
    border: 2px solid var(--black);
    background-color: var(--main-color-orange);
}

.offers .container .offer-card .offer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    color: var(--white);
}

.offers .container .offer-card .offer-content h3 {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}